# Node modules
node_modules/

# Environment files
.env
*.env

# Sensitive config files
db.js
config.js
secrets/
*.key
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# IDE / Editor folders
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
.temp/
Grupo8.pptx
G8_SC404_JN_Final.pdf
